<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 인터페이스 연결 -->    
<mapper namespace="com.java.www.mapper.MyInfoUpdateMapper">
	
	<!-- 내 정보 가져오기 -->
	<select id="selectOne" resultType="com.java.www.dto.User_campDto">
		select * from user_camp where id=#{id}
	</select>
	
	<!-- 내 정보 수정 -->
	
	<!-- 비밀번호 변경 -->
	<update id="PwUpdate">
		update user_camp set pw=#{pw} where id=#{id}
	</update>
	
	<!-- 닉네임 변경 -->
	<update id="nickNameUpdate">
		update user_camp set nickname=#{nickname} where id=#{id}
	</update>
	
	<!-- 이메일 변경 -->
	<update id="emailUpdate">
		update user_camp set email=#{email} where id=#{id}
	</update>

	
	
</mapper>